.authorization_container_light {
	width: 500px;
	height: 700px;
	padding: 30px;
	border-radius: 10px;
	margin: 100px auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	background: #1c92d2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #bfedf6, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.authorization_container_dark {
	width: 500px;
	height: 700px;
	padding: 30px;
	border-radius: 10px;
	margin: 100px auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	background: #1A2980; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #26D0CE, #1a31bb); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #26D0CE, #1b35c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.authorization_container_light > h2 {
	font-size: 38px;
	font-weight: 500;
}

.authorization_container_dark > h2 {
	font-size: 38px;
	font-weight: 500;
}

.authorization_form {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.input_container {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	gap: 35px;
}

.authorization_form button:first-child:hover {
	background: #0cebeb; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.authorization_form button:disabled {
	background-color: #f4f3f3;
	border: none;
	outline: none;
}

.authorization_form button:focus {
	border: none;
	outline: 1px #e0de40 solid;
	box-shadow: 1px 5px 8px #f0f4f0;
	transition: 0.9s ease;
	background: #0cebeb; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button_container {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
}

.button_container button {
	width: 360px;
	box-shadow: 3px 3px 3px #393d39;
}

.button_container button:hover {
	box-shadow: 1px 5px 8px #f0f4f0;
	transition: 0.9s ease;
}

.button_registration {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 60px;
}

.button_main {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 60px;
}

.button_container button:last-child {
	width: 150px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #0cebeb; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.error_container {
	height: 120px;
	max-width: 400px;
	margin: 0;
	color: #b01414;
	font-size: 16px;
	font-weight: bold;
}

.error_container > p {
	margin: 7px 0;
}

.server_error_message {
	color: #b01414;
	font-size: 16px;
	font-weight: bold;
}
