.footer_container {
	width: 1280px;
	height: 100px;
	padding: 10px 20px;
	margin: 20px 0;
	border-radius: 5px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
	background: #1c92d2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #98eaeb, #1c92d2); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #e0f3f6, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer_content {
	height: 80px;
	width: 300px;
	line-height: 1px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer_content h4 {
	margin: 10px 10px;
}

.footer_content p {
	margin: 15px
}

.footer_section {
	height: 80px;
	width: 400px;
	padding: 5px;
}

.footer_section p {
	line-height: 25px;
	margin: 5px
}

.footer_section h4 {
	margin: 5px 10px;
}

.weather_container {
	width: 400px;
	height: 80px;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	font-weight: 700;
}

.weather_container p {
	margin: 10px;
	font-size: 16px;
}

.error_message {
	color: #c20505;
	font-size: 18px;
}

.text_loading {
	margin-right: 120px;
}

