.header {
	color: #ef0f16;
	font-size: 50px;
}

.error_container {
	font-size: 30px;
	font-weight: bold;
}

.button {
	margin-top: 80px;
	padding: 20px;
	width: 300px;
	background: #0cebeb; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 20px;
	outline: none;
	border: none;
}


.button:hover {
	transition: 0.8s ease;
	background-color: #f8f64f;
}

.button:active {
	border: none;
	outline: none;
}

.button:focus {
	outline: none;
}
