.card {
	width: 420px;
	height: 200px;
	display: flex;
	justify-content: space-around;
	box-shadow: 0 5px 5px #959595;
	border-radius: 5px;
}

.card:hover {
	cursor: pointer;
	box-shadow: 0 5px 5px #b01414;
}

.card_img {
	width: 300px;
	height: 200px;
	border-radius: 5px;
}

.card_description {
	color: #090303;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 5px 0 5px;
}

.card_description > p:nth-child(1) {
	color: #3b56e2;
	font-weight: bold;
	line-height: 1.1;
}

.card_button {
	width: 110px;
	height: 35px;
	font-size: 13px;
	font-weight: bold;
	margin: 0 auto;
	border-radius: 5px;
	background: #dde319;
	padding: 0;
}

.card_button:hover {
	outline: none;
	background: #0cebeb; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 1px 5px 8px #f0f4f0;
	transition: 0.9s ease;
}
