.container {
	background: #E0EAFC; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 1280px;
	height: 900px;
	padding: 10px 20px;
	border-radius: 5px;
}

.header_container {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
}

.header {
	margin-top: 0;
}

.user_list_button {
	width: 220px;
	height: 50px;
	font-size: 18px;
	border: none;
	padding: 0 8px;
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	box-shadow: 0 3px 5px #0c0d0c;
}

.user_list_button:hover {
	box-shadow: 0 7px 10px 0 rgb(205, 241, 74);
	transition: 0.9s ease;
}

.room_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.room_item {
	background: #11998e; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #38ef7d, #11998e); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	height: 220px;
	width: 300px;
	margin: 0 auto;
	padding: 15px;
	box-shadow: 1px 3px 3px #393d39;
}

.reserved_room {
	background: #F7971E; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD200, #F7971E); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	height: 220px;
	width: 300px;
	margin: 0 auto;
	padding: 15px;
	box-shadow: 1px 3px 3px #393d39;
}

.room_image {
	width: 200px;
	height: 150px;
	border-radius: 5px;
}

.id_number {
	font-size: 18px;
	margin-bottom: 10px;
}

.status {
	margin: 0;
}

.cancel_reservation {
	background: #333333; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #dd1818, #333333); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 1px 3px 3px #393d39;
	color: white;
	border: none;
	margin-top: 5px;
	width: 150px;
	height: 30px;
	padding: 0 5px;
}

.cancel_reservation:hover {
	box-shadow: 1px 6px 8px #fffdfd;
	transition: 0.9s ease;
}
